name: test
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      os_type:
        description: Select OS to run
        type: choice
        required: true
        default: ubuntu-latest
        options:
          - ubuntu-latest
          - windows-latest
jobs:
  playwright-test:
    runs-on: ${{ github.event_name != 'workflow_dispatch' && 'ubuntu-latest' || github.event.inputs.os_type }}
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run action workflow
        uses: ./.github/actions/
        with:
          QASE_TOKEN: ${{secrets.QASE_TOKEN}}
